<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>kehadiran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="kehadiran">
    <ion-grid class="header">
      <ion-row>
        <ion-col size="4">
          <span class="img">
              <img src="assets/img/avatar.png" alt="Ionic logo" class="hide-desktop">
          </span>
        </ion-col>
        <ion-col size="8" class="vertical-middle">
          <span class="name FFB06">Syarulloh</span>
          <span class="position FFR04">Programmer</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="table ion-text-center">
      <ion-row class="header FFR06"> 
        <ion-col>
            <span>Jam Kerja</span>
        </ion-col>
        <ion-col>
            <span>Kehadiran</span>
        </ion-col>
        <ion-col>
            <span>Izin / Cuti </span>
        </ion-col>   
      </ion-row>
      
      <ion-row class="content FFR03">
        <ion-col>
            <span class="in">
              Masuk 08:20
            </span>
            <span class="out">
              Keluar 18:20
            </span>
        </ion-col>
        <ion-col>
            <span class="vertical-middle" >Senin,4 Nov 2019</span>
        </ion-col>
        <ion-col>
          <span class="vertical-middle">-</span>
        </ion-col>
      </ion-row>
      <ion-row class="content FFR03">
        <ion-col>
            <span class="in">
              Masuk 08:20
            </span>
            <span class="out">
              Keluar 18:20
            </span>
        </ion-col>
        <ion-col>
            <span class="vertical-middle" >Senin,4 Nov 2019</span>
        </ion-col>
        <ion-col>
          <span class="vertical-middle">-</span>
        </ion-col>
      </ion-row>
      <ion-row class="content FFR03">
        <ion-col>
            <span class="in">
              Masuk 08:20
            </span>
            <span class="out">
              Keluar 18:20
            </span>
        </ion-col>
        <ion-col>
            <span class="vertical-middle" >Selasa, 5 Nov 2019</span>
        </ion-col>
        <ion-col>
          <span class="vertical-middle">-</span>
        </ion-col>
      </ion-row>
      <ion-row class="content FFR03">
        <ion-col>
            <span class="in">
              Masuk 08:20
            </span>
            <span class="out">
              Keluar 18:20
            </span>
        </ion-col>
        <ion-col>
            <span class="vertical-middle" >Rabu, 6 Nov 2019</span>
        </ion-col>
        <ion-col>
          <span class="vertical-middle">Cuti</span>
        </ion-col>
      </ion-row>
      <ion-row class="content FFR03">
        <ion-col>
            <span class="in">
              Masuk 08:20
            </span>
            <span class="out">
              Keluar 18:20
            </span>
        </ion-col>
        <ion-col>
            <span class="vertical-middle" >Kamis, 7 Nov 2019</span>
        </ion-col>
        <ion-col>
          <span class="vertical-middle">-</span>
        </ion-col>
      </ion-row>
      <ion-row class="content FFR03">
        <ion-col>
            <span class="in">
              Masuk 08:20
            </span>
            <span class="out">
              Keluar 18:20
            </span>
        </ion-col>
        <ion-col>
            <span class="vertical-middle" >Jum'at, 8 Nov 2019</span>
        </ion-col>
        <ion-col>
          <span class="vertical-middle">Izin</span>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<app-tabmenus></app-tabmenus>