ion-content{
 & ion-grid{

    &.header{
        & span{
            display: block;
            &.img{
                background: var(--CR001);
                display: block;
                border-radius: 50%;
                & img{
                    margin: auto;
                    max-width: 100%;
                    display: block;
                    border-radius: 50%;
                    object-fit: contain;
                }
            }
        }
        
        & .vertical-middle{
            margin: auto;
            padding-left: 1em;
        }
    }
    &.table{

        & ion-row{

            & ion-col{
                margin:0px !important;
                padding: 1em 0.5em !important;
            }
            &.header{
                color: var(--CR000);
                background: var(--CR018);
                padding: 0.2em 0px;

            }
            &.content{
                border-bottom: 1px solid var(--CR017);

                & ion-col{
                    padding: 0.5em 0px !important;
                }

                & span{
                    display: block;
                    padding: 0.5em 0px;
                    &.vertical-middle{
                        transform: translate3d(0em,1em,0);
                    }
                }
            }
        }
    }

 }
}