<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>kehadiran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="kehadiran">
    <ion-grid class="header">
      <ion-row>
        <ion-col size="1">

        </ion-col>
        <ion-col size="3">
          <span class="img">
              <img src="assets/img/avatar.png" alt="Ionic logo" class="hide-desktop">
          </span>
        </ion-col>
        <ion-col size="8" class="vertical-middle">
          <span class="name FFB06">Syarulloh</span>
          <span class="position FFR04">Programmer</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="table ion-text-center">
      <ion-row class="header FFR03 CR000"> 
        <ion-col>
            <span>Tanggal</span>
        </ion-col>
        <ion-col>
            <span>Presensi</span>
        </ion-col>
        <ion-col>
            <span>Status</span>
        </ion-col>   
      </ion-row>

      <ion-row class="content FFR03">
          <ion-col>
            <span class="vertical-middle">
              1 Agustus 2019
            </span>
          </ion-col>
          <ion-col>
            <span class="in">
              07:44
            </span>
            <span class="out">
              17:30
            </span>
          </ion-col>
          <ion-col>
            <span class="vertical-middle">Hadir</span>
          </ion-col>
      </ion-row>
      <ion-row class="content FFR03">
          <ion-col>
              <span class="vertical-middle">
                2 Agustus 2019
              </span>
          </ion-col>
          <ion-col>
            <span class="in">
              07:40
            </span>
            <span class="out">
              Tidak Absen
            </span>
          </ion-col>
          <ion-col>
            <span class="vertical-middle CR010">Pulang Sebelum Waktu</span>
          </ion-col>
      </ion-row>
      <ion-row class="content FFR03">
        <ion-col>
            <span class="vertical-middle">
              3 Agustus 2019
            </span>
        </ion-col>
        <ion-col>
          <span class="in">
            Tidak Absen
          </span>
          <span class="out">
            Tidak Absen
          </span>
        </ion-col>
        <ion-col>
          <span class="vertical-middle">Diner Luar</span>
        </ion-col>
      </ion-row>
      <ion-row class="content FFR03">
          <ion-col>
              <span class="vertical-middle">
                4 Agustus 2019
              </span>
          </ion-col>
          <ion-col>
            <span class="in">
              Tidak Absen
            </span>
            <span class="out">
              Tidak Absen
            </span>
          </ion-col>
          <ion-col>
            <span class="vertical-middle">Libur</span>
          </ion-col>
      </ion-row>
      <ion-row class="content FFR03">
        <ion-col>
            <span class="vertical-middle">
              5 Agustus 2019
            </span>
        </ion-col>
        <ion-col>
          <span class="in">
            07:44
          </span>
          <span class="out">
             17:30
          </span>
        </ion-col>
        <ion-col>
          <span class="vertical-middle">Hadir</span>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<app-tabmenus></app-tabmenus>