<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Izin / Cuti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <span class="FFR03">
            Sisa Cuti : {{10 - listCuti.length}} Hari
        </span> 
      </ion-col>
      <ion-col size="6">
        <span class="BTN002" float-right (click)="createCuti()">
          Tambah
        </span>
      </ion-col>
    </ion-row>
    <app-list-izin-cuti></app-list-izin-cuti>
  </ion-grid>
</ion-content>

<app-tabmenus></app-tabmenus>