<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Form Perjalanan Dinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Nama Kunjungan <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required  type="text" name="title" [(ngModel)]="dataInsert.maksud"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tanggal Berangkat</ion-label>
      <ion-input type="date" name="date" [(ngModel)]="dataInsert.tglb"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tanggal Kembali</ion-label>
      <ion-input type="date" name="date" [(ngModel)]="dataInsert.tglk"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Lokasi</ion-label>
      <ion-input type="text" name="dataInsert.lokasi" [(ngModel)]="location"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label position="stacked">Surat Izin</ion-label>
      <ion-input type="file" (change)="changeFile($event)" accept="image/*" multiple="multiple"></ion-input>
    </ion-item>
    <ion-item *ngIf="files.length > 0">
      <ion-avatar *ngFor="let file of files">
        <img [src]="file?.file_base"/>
      </ion-avatar>
    </ion-item> -->
    <ion-button block color="primary" type="submit" [disabled]="!dataInsert.maksud || !dataInsert.tglb || !dataInsert.tglk">
      Submit
    </ion-button>
  </form>
</ion-content>  