
  
  
  <form class="create-perjalanan-dinas">
    <ion-grid class="header">
      <ion-row>
          <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
            <ion-row>
                <ion-col size-lg="4" size-md="4" size-sm="12" size="12">agfdgfd</ion-col>
                <ion-col size-lg="8" size-md="8" size-sm="12" size="12">dsadsadsad</ion-col>
            </ion-row>
          </ion-col>
          <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-right">
              <ion-row class="input-group" size="12">
                <span>Lembar ke :</span>
                <span><ion-input type="text" name="" required class="input"></ion-input></span>
              </ion-row>
              <ion-row class="input-group">
                  <span>Kode No :</span>
                  <span><ion-input type="text" name="" required class="input"></ion-input></span>
              </ion-row>
              <ion-row class="input-group">
                  <span>Nomor SPD :</span>
                  <span><ion-input type="text" name="" required class="input"></ion-input></span>
              </ion-row>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
