  <form class="create-perjalanan-dinas">
    <ion-grid class="header">
      <ion-row>
          <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
            <ion-row>
                <ion-col size-lg="3" size-md="3" size-sm="12" size="12" class="img" text-center>
                    <img src="assets/img/logo-color.png" class="logo" alt="">
                </ion-col>
                <ion-col size-lg="9" size-md="9" size-sm="12" size="12" text-center>
                  <span class="FFB06"><h1>BADAN INFORMASI GEOSPASIAL<br/>(BIG)</h1></span>
                  <span>
                      Jalan Raya Bogor Km. 46, Nanggewer Mekar, Cibinong, Bogor, Jawa Barat 16912
                      Telepon (021) 875 2062-2063. Faksimile (021) 875 2062 PO.Box 46 CBI Website: http://www.big.go.id
                  </span>

                </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-right">
              <ion-row class="input-group" size="12">
                <span>Lembar ke :</span>
                <span><ion-input [ngModelOptions]="{standalone: true}" name="lembar" [(ngModel)]="dataInsert.lembar" type="text"  required="false" class="input"></ion-input></span>
              </ion-row>
              <ion-row class="input-group">
                  <span>Kode No :</span>
                  <span><ion-input [ngModelOptions]="{standalone: true}" name="kode" [(ngModel)]="dataInsert.kode" type="text"  required="false" class="input"></ion-input></span>
              </ion-row>
              <ion-row class="input-group">
                  <span>Nomor SPD :</span>
                  <span><ion-input [ngModelOptions]="{standalone: true}" name="nomor" [(ngModel)]="dataInsert.noagen" type="text"  required="false" class="input"></ion-input></span>
              </ion-row>
          </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <span text-center>Surat Perjalanan Dinas</span>
          </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Nama Pegawai Yang Diperintahkan :</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <!-- <span>Linggar Wahyusagara ST</span> -->
                <span>{{dataKaryawan?.nama}}</span>
            </ion-col>
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>NIP :</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <!-- <span>199111252019031002</span> -->
                <span>{{dataKaryawan?.nip}}</span>
            </ion-col>
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Pangkat dan Golongan</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <span>(III/a) Penata Muda</span>
            </ion-col>
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Jabatan</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <span>Pranata Komputer</span>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <ion-grid>
        <ion-row>
            <span>Instansi: <br/> Biro Perencanaan, Kepegawaian dan Hukum</span>
          </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Tingkat Biaya Perjalanan Dinas :</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <ion-select name="tingkat" [(ngModel)]="dataInsert.tingkat" placeholder="--Pilih--">
                  <ion-select-option value="dalam negeri">A-Dalam Negeri - Eselon 1</ion-select-option>
                  <ion-select-option value="luar negeri">A-Dalam Negeri - Eselon 2</ion-select-option>
                </ion-select>
            </ion-col>
            
            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Tujuan Perjalanan Dinas :</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <ion-select name="x" placeholder="--Pilih--">
                  <ion-select-option value="dalam negeri">Dalam Negeri</ion-select-option>
                  <ion-select-option value="luar negeri">Luar Negeri</ion-select-option>
                </ion-select>
            </ion-col>

            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Maksud Perjalanan Dinas</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <span><ion-textarea name="maksud" [(ngModel)]="dataInsert.maksud" type="text"  required="false" class="input"></ion-textarea></span>
            </ion-col>

            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Jenis Transportasi</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <ion-select name="x" placeholder="--Pilih--">
                    <ion-select-option value="darat">Darat</ion-select-option>
                    <ion-select-option value="udara">Udara</ion-select-option>
                  </ion-select>
            </ion-col>
            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Alat Angkut Yang Digunakan</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <ion-select name="alat" [(ngModel)]="dataInsert.alat" placeholder="--Pilih--">
                    <ion-select-option value="bus">Bus</ion-select-option>
                    <ion-select-option value="pesawat">Pesawat</ion-select-option>
                  </ion-select>
            </ion-col>

            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Tempat Tujuan (Nama Provinsi)</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <ionic-selectable
                    placeholder="--Pilih--"
                    name="tj"
                    [items]="tb"
                    itemValueField="val"
                    itemTextField="name"
                    [canSearch]="true"
                    (onChange)="tj_change($event)"
                    class="border">
                </ionic-selectable>
                <!-- <ion-select name="tj" [(ngModel)]="dataInsert.tj" placeholder="--Pilih--">
                    <ion-select-option value="tangerang">Tangerang</ion-select-option>
                    <ion-select-option value="jakarta">Jakarta</ion-select-option>
                </ion-select> -->
            </ion-col>

            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Asal Berangkat (Nama Provinsi)</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <ionic-selectable
                    placeholder="--Pilih--"
                    name="tb"
                    [(ngModel)]="tb_selected"
                    [items]="tb"
                    itemValueField="val"
                    itemTextField="name"
                    [canSearch]="true"
                    (onChange)="tb_change($event)"
                    class="border">
                </ionic-selectable>
                <!-- <ion-select name="tb" [(ngModel)]="dataInsert.tb" placeholder="--Pilih--">
                    <ion-select-option value="tangerang">Tangerang</ion-select-option>
                    <ion-select-option value="jakarta">Jakarta</ion-select-option>
                </ion-select> -->
            </ion-col>
            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Pilihan Hari</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <ion-select name="x" placeholder="--Pilih--">
                    <ion-select-option value="dalam negeri">Hari Kerja</ion-select-option>
                    <ion-select-option value="luar negeri">Hari LIbur</ion-select-option>
                  </ion-select>
            </ion-col>
            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Lamanya Perjalanan Dinas (Isikan Angka)</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <span><ion-input [ngModelOptions]="{standalone: true}" name="lama" [(ngModel)]="dataInsert.lama" type="number"  required="false" class="input"></ion-input></span>
            </ion-col>
            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Tanggal Berangkat</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <span><ion-input [ngModelOptions]="{standalone: true}" name="tglb" [(ngModel)]="dataInsert.tglb" type="date"  required="false" class="input"></ion-input></span>
            </ion-col>
            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Tanggal Harus Kembali/Tiba Di Tempat baru</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <span><ion-input [ngModelOptions]="{standalone: true}" name="tglk" [(ngModel)]="dataInsert.tglk" type="date"  required="false" class="input"></ion-input></span>
            </ion-col>
            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Pengikut</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <span><ion-input [ngModelOptions]="{standalone: true}" name="x" type="text"  required="false" class="input"></ion-input></span>
            </ion-col>
            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Unit Kerja :</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <ion-select name="x" placeholder="--Pilih--">
                    <ion-select-option value="dalam negeri">-</ion-select-option>
                  </ion-select>
            </ion-col>
            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Akun :</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <ion-select name="x" placeholder="--Pilih--">
                    <ion-select-option value="dalam negeri">-</ion-select-option>
                  </ion-select>
            </ion-col>

            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Dikeluarkan di :</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <ion-select name="x" placeholder="--Pilih--">
                    <ion-select-option value="dalam negeri">-</ion-select-option>
                  </ion-select>
            </ion-col>
            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Tanggal :</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <span><ion-input [ngModelOptions]="{standalone: true}" name="tgl" [(ngModel)]="dataInsert.tgl" type="date"  required="false" class="input"></ion-input></span>
            </ion-col>

            
            <ion-col size-lg="8" size-md="8" size-sm="12" size="12" class="grid-left">
                <span>Pejabat Pembuat Komitmen :</span>
            </ion-col>
            <ion-col size-lg="4" size-md="4" size-sm="12" size="12" class="grid-left">
                <ion-select [(ngModel)]="dataInsert.nipppk" name="nipatasan" placeholder="--Pilih--">
                    <ion-select-option *ngFor="let a of atasan" [value]="a.nip">{{a.nama}}</ion-select-option>
                <!-- <ion-select-option value="dalam negeri">Abdurasyid S.Kom, M.Sc.</ion-select-option> -->
                </ion-select>
                <!-- <span>
                    <ion-input [ngModelOptions]="{standalone: true}" type="text"  required="false" class="input"></ion-input>
                </span> -->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col no-padding no-margin sizeXs="5" float-right>
              <ion-button class="BTN002 CR000 btn" tappable expand="block" (click)="submit()">
                Simpan
              </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
  </form>
