ion-content.profile{
    
    & ion-grid{

        & > span{
            display: block;
            text-align: center;
            color: var(--CR000);

            &.avatar{
                height: 15vh;
                width: 15vh;
                display: block;
                margin: 1em auto;

                & ion-avatar{
                    display: contents;
                }
            }
            &.action{
                display: block;
                padding: 0.5em 0.5em;
    
                & .back-button{
    
                    background: var(--CR011);
                    opacity: 0.4;
                    margin: auto;
                    text-align: center;
                    border-radius: 0.5vh;
                    padding: 0px 7px 0px 5px;
                    width: 35px;
                    float: left;
                    margin-left: 1vh;
                    padding-left: 0px;
                    & ion-buttons{
    
                        filter: grayscale(1);
                        color: red;
                    }
    
                    & .back-button-has-icon-only.sc-ion-back-button-md-h{
                        height: 0px !important;
                        width: 0px !important;
                    }
                }
    
                & .more{
                    width: 25px;
                    float: right;
                    
                    margin-right: 1vh;
                    & img{
                        fill: var(CR000);
                    }
                }
    
                & ion-buttons .button-text{
                    display: none !important;
                }
            }
    
        }
        

        &.header{
            height: 35vh;
            background: var(--CR003);
            min-height: 270px;
           
        }
        &.account-info{
            margin-top: -1.3em;
            text-align: center;
            padding: 0.4em 0.5em;
            border: 1px solid var(--CR016);
            border-radius: 3em;
            background: var(--CR000);
            display: block;
            z-index: 9999;
            width: 9em;
            
            & span{
                color: var(--CR008);
            }
        }
    }

}
