
<ion-content class="profile">
  <ion-grid class="header">
    <span class="action">
        <span class="back-button1">
            <ion-buttons slot="start" class>
              <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
          </span>
      
          <span class="more FFR03" hidden>
              <img src="assets/img/more-white.png" alt="">
          </span>
        </span>
    <span class="avatar">
      <ion-avatar>
        <img [src]="image" />
      </ion-avatar>
    </span>
    <span>App Egov</span>
    <span>appegove@gmail.com</span>
  </ion-grid>
  <ion-grid class="account-info FFR05">
      <span>Account Info</span>
    </ion-grid>
  <ion-grid class="content">
    <app-list-profile></app-list-profile>
  </ion-grid>
</ion-content>

<app-tabmenus></app-tabmenus>