

<div class="popover-agenda FFR04">
  <ion-grid fixed>
    <ion-row>
      <ion-col text-center>
        Agenda Dinas Luar Hari ini
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="3">
        Kegiatan
      </ion-col>
      <ion-col size="0.5">
        :
      </ion-col>
      <ion-col>
        Rapat Pembangunana Aplikasi Kepegawaian
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        Tempat
      </ion-col>
      <ion-col size="0.5">
        :
      </ion-col>
      <ion-col>
        Jakarta
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        No. Surat
      </ion-col>
      <ion-col size="0.5">
        :
      </ion-col>
      <ion-col>
        17726671/PKH/9912031232
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
