
<ion-footer  class="footer-nav--container hide-desktop" no-padding no-margin>
  <div><img src="assets/img/group-interface-symbol.png" alt="Ionic logo" class="hide-desktop"></div>
  <div><img src="assets/img/timetable.png" alt="Ionic logo" class="hide-desktop"></div>
  <div tab="home"><img src="assets/img/avatar.png" alt="Ionic logo" class="hide-desktop"></div>
  <div><img src="assets/img/startup.png" alt="Ionic logo" class="hide-desktop"></div>
  <div><img src="assets/img/user.png" alt="Ionic logo" class="hide-desktop"></div>
</ion-footer>