.listBackground{
    background: rgb(178, 225, 250);
    --background: rgb(178, 225, 250);
}
.strong{
    font-weight: bold;
}
.backgroundTitle{
    background: blue;
    --background: blue;
}
.icon{
    font-size: 25px;
    color: white;
}