<ion-list class="FFR04" no-padding no-margin>
  <ion-item>
    <ion-label position="floating" class="CR016 FFR04" class="CR016">Nama</ion-label>
    <ion-input [value]="dataProfile.nama" class="CR017 FFR05" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="CR016 FFR04">No HP</ion-label>
    <ion-input [value]="dataProfile.hp" class="CR017 FFR05" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="CR016 FFR04">Email</ion-label>
    <ion-input [value]="dataProfile.email" class="CR017 FFR05" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="CR016 FFR04">Alamat</ion-label>
    <ion-input [value]="dataProfile.alamat" class="CR017 FFR05" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="CR016 FFR04">Tanggal Lahir</ion-label>
    <ion-input type="date" [value]="dataProfile.ttl" class="CR017 FFR05" ></ion-input>
  </ion-item>
  <span (click)="confirmLogout()" class="BTN003 FFR05 logout"> Logout </span>
</ion-list>