<ion-list>
  <ion-item>
    <ion-label position="floating">Nama</ion-label>
    <ion-input [value]="dataProfile.nama"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">No HP</ion-label>
    <ion-input [value]="dataProfile.hp"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [value]="dataProfile.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Alamat</ion-label>
    <ion-input [value]="dataProfile.alamat"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tanggal Lahir</ion-label>
    <ion-input type="date" [value]="dataProfile.ttl"></ion-input>
  </ion-item>
  <ion-item (click)="logout()">
    <ion-label color="danger">Keluar</ion-label>
  </ion-item>
</ion-list>