
  <ion-content color="crteal" class="no-scroll login"  scrollbar-x="false" scrollbar-y="false"    overflow-scroll="false" no-bounce>
    <ion-grid class="logo" no-padding no-margin>
        <div class="img">
          <img src="assets/img/logo-white.png" class="logo-login" alt="">
        </div>
    </ion-grid>
  
    <ion-grid class="content" no-padding no-margin>
        <div class="version CR000" text-center>eGov V2</div>
        <form class="list-form" #loginForm="ngForm"  autocomplete="off" (ngSubmit)="submit()">
          <ion-row>
              <ion-col size="12" no-padding no-margin class="input-group">
                <ion-input type="text" text-lowercase class="FLB01 CR008" clearInput placeholder="Username" [(ngModel)]="username" name="username"></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="12" no-padding no-margin class="input-group">
                <ion-input type="password" class="FLB01 CR008" clearInput placeholder="Password" [(ngModel)]="password" name="password"></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding no-margin >
              <ion-button class="BTN001 CR000" tappable type="submit" expand="block">
                Login
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
    </ion-grid>
  
  </ion-content>
  