
  <ion-content  class="no-scroll login"  scrollbar-x="false" scrollbar-y="false"    overflow-scroll="false" no-bounce>
    <ion-grid class="logo" no-padding no-margin>
        <div class="img">
          <img src="assets/img/avatar.png" class="logo-login" alt="">
        </div>
    </ion-grid>
  
    <ion-grid class="content" no-padding no-margin>
        <form class="list-form" #loginForm="ngForm"  autocomplete="off">
          <ion-row>
              <ion-col size="1" no-padding no-margin class="img"><img src="assets/img/avatar.png"></ion-col>
              <ion-col size="11" no-padding no-margin class="input-group"><ion-input type="text" text-lowercase class="FLB01" clearInput placeholder="Username"></ion-input></ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="1" no-padding no-margin class="img"><img src="assets/img/avatar.png"></ion-col>
              <ion-col size="11" no-padding no-margin class="input-group"><ion-input type="password" class="FLB01" clearInput placeholder="Password" ></ion-input></ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding no-margin class="rememberme">
              <ion-checkbox></ion-checkbox>
              <ion-text class="FR06 CP012">
                Remember Me
              </ion-text>
            </ion-col>
            <ion-col text-end no-padding no-margin class="forgot">
              <ion-text class="FR06 CP012" >
                Forgot Your Password?
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding no-margin >
              <ion-button class="BTN001 login" tappable type="submit"  expand="block">
                Login
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
    </ion-grid>
  
  </ion-content>
  