<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-buttons>
    <ion-title>Detail Perjalanan Dinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="detail-perjalanan-dinas">
  <ion-grid class="ion-no-padding FFR04">
    <ion-row>
      <ion-col size="5" class="">
        <span>Nama</span>
      </ion-col>
      <ion-col size="7">
        <span>{{data?.namapegg}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" class="">
        <span>No surat tugas</span>
      </ion-col>
      <ion-col size="7">
        <span>{{data?.noagen}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" class="">
        <span>Tanggal berangkat</span>
      </ion-col>
      <ion-col size="7">
        <span>{{data?.tglb | date: "dd-MMM-yyyy"}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" class="">
        <span>Tanggal pulang</span>
      </ion-col>
      <ion-col size="7">
        <span>{{data?.tglk | date: "dd-MMM-yyyy"}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" class="">
        <span>Tujuan</span>
      </ion-col>
      <ion-col size="7">
        <span>{{data?.tj}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" class="">
        <span>Maksud / deskripsi</span>
      </ion-col>
      <ion-col size="7">
        <span>{{data?.maksud}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" class="">
          <span>Status</span>
      </ion-col>
      <ion-col size="7">
        <!-- <ion-item> -->
          <span
          [class]="data.status_approval === 1 ? 'approved' 
          : data.status_approval === 2 ? 'waiting' 
          : data.status_approval === 3 ? 'rejected' 
          : 'waiting'"
          color="dark">
          {{data.status_approval === 1 ? "Berangkat" :
          data.status_approval === 2 ? "Menunggu Persetujuan" :
          data.status_approval === 3 ? "Batal Berangkat" : "Masih Proses"}}
        </span>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" class="">
        <ion-label>Detail</ion-label>
      </ion-col>
      <ion-col size="7">
        <span>{{data?.pda}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed *ngIf="!data.atasan_nip">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Atasan: </ion-label>
          <!-- <ion-select multiple="false" [(ngModel)]="atasanId" placeholder="--Pilih atasan--">
            <ion-select-option *ngFor="let atasan of listAtasan" [value]="atasan.nip">{{atasan.nama}}</ion-select-option>
          </ion-select> -->
          <ionic-selectable
            item-content
            [(ngModel)]="atasanSelected"
            [items]="listAtasan"
            itemValueField="nip"
            itemTextField="nama"
            [canSearch]="true"
            (onChange)="changeAtasan($event)">
          </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="requestApproval(data)" color="success">
          Request
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed *ngIf="data.status_approval === 1">
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="cetak()" color="success">
          Cetak surtug
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="cetak()">
          Cetak lembar 1
        </ion-button>
        <ion-button (click)="cetak()">
          Cetak lembar 2
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="confirmCancel(data.pd_id, data.nama, data.atasan_nip, data.instansi, data.iddata)" color="danger">
          Batal berangkat
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
