<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perjalanan Dinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-item>
    <ion-label>{{isApproval ? 'Surat tugas saya' : 'Butuh persetujuan'}}</ion-label>
    <ion-toggle (click)="isClicked()" [(ngModel)]="isApproval" color="primary"></ion-toggle>
  </ion-item>
  <div *ngIf="isApproval; then list else approval"></div>
  <ng-template #list>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-col>
            <span class="BTN002" float-right (click)="createDinas()">
              Tambah
            </span>
          </ion-col>
        </ion-col>
      </ion-row>
      <app-list-perjanalan-dinas></app-list-perjanalan-dinas>
    </ion-grid>
  </ng-template>

  <ng-template #approval>
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12">
          <app-list-perjalanan-dinas-approval></app-list-perjalanan-dinas-approval>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>

<app-tabmenus></app-tabmenus>