ion-content{

    & ion-grid{
        padding: 1em;

        & ion-card{
            padding: 0.5em !important;
            margin: 1em 0px !important;

            & ion-row{
               
                & span{ 
                    &:first-child{

                        margin-top: 1em;
                        margin-bottom: 5px;
                    }
                    &:last-child{

                        margin-bottom: 1em;
                        margin-top: 5px;
                    }
                    
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}