<ion-header>
  <ion-toolbar>
    <ion-title no-margin>
      <span float-left>eGOV BIG</span> 
      <span float-right>
        <ion-icon name="mail"></ion-icon>
        <ion-icon name="notifications-outline" (click)="showMenu()"></ion-icon>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="slider" no-padding no-margin>
    <ion-slides 
      [options]="slideOpts" 
      class="content" 
      loop="true" 
      speed="500" 
      pager="true" 
      autoplay="5000"
      #mySlider 
      (ionSlidesDidLoad)="ionSlidesDidLoad()">
      <ion-slide *ngFor="let img of contentList" >
        <ion-row>
          <ion-col size="12">
            <div class="box">
              <img [src]="img?.file" alt="">
              <p class="content-text backgroundku">{{img.title}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>
  <ion-grid fixed no-padding> 
    <ion-row class="schedules FFR02">
      <div class="event-time">
        <span class="CR000">
          SENIN, 17 APR 2019
        </span>
        <span class="sparator black"></span>
        <span class="CR008">
          07.25 - (N/A)
        </span>
      </div>
      <div class="event-desc">
        <span class="CR000">
          JADWAL HARI INI
        </span>
        <span class="sparator black"></span>
        <span class="CR008">
          Rapat Pengembangan Aplikasi Kependudukan
        </span>
      </div>
    </ion-row>

    <ion-row class="menu-icon"> 
      <ion-col size="12">
        <ion-row>
          <ion-col size="3" *ngFor="let items of item1" (click)="navPage(items.route)">
            <ion-row class="ion-justify-content-center">
              <ion-col size="12">
                <ion-row class="ion-justify-content-center">
                  <ion-avatar>
                    <img [src]="items?.img">
                  </ion-avatar>    
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-label>{{items?.label}}</ion-label>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-calendar
          [(ngModel)]="dateMulti"
          [options]="optionsMulti"
          [type]="type"
          [format]="'YYYY-MM-DD'">
        </ion-calendar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-tabs color="head" class="footer-nav hide-desktop">
  <ion-tab-bar slot="bottom"  color="head" class="footer-nav--container hide-desktop">
      <ion-tab-button tab="list" class="hide-desktop">
            <img src="assets/img/group-interface-symbol.png" alt="Ionic logo" class="hide-desktop">
      </ion-tab-button>
      <ion-tab-button tab="dashboard" class="hide-desktop">
          <img src="assets/img/timetable.png" alt="Ionic logo" class="hide-desktop">
      </ion-tab-button>
      <ion-tab-button tab="home" class="hide-desktop home">
          <img src="assets/img/avatar.png" alt="Ionic logo" class="hide-desktop">
      </ion-tab-button>
      <ion-tab-button tab="dashboard" class="hide-desktop">
          <img src="assets/img/startup.png" alt="Ionic logo" class="hide-desktop">
      </ion-tab-button>
      <ion-tab-button tab="home" class="hide-desktop">
          <img src="assets/img/user.png" alt="Ionic logo" class="hide-desktop">
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->