<ion-header>
  <ion-toolbar>
    <ion-title no-margin>
      <div class="title"><img src="assets/img/logo-menu.png" alt=""></div> 
      <div class="icon">
        <ion-icon name="notifications-outline" (click)="showMenu()"></ion-icon>
        <ion-icon name="mail"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-slider></app-slider>

  <ion-grid fixed no-padding> 
    <ion-row class="schedules FFR02">
      <div class="event-time">
        <span class="CR000">
          SENIN, 17 APR 2019
        </span>
        <span class="sparator black"></span>
        <span class="CR008">
          07.25 - (N/A)
        </span>
      </div>
      <div class="event-desc" (click)="todayAgenda()">
        <span class="CR000">
          JADWAL HARI INI
        </span>
        <span class="sparator black"></span>
        <span class="CR008">
          Rapat Pengembangan Aplikasi Kependudukan
        </span>
      </div>
    </ion-row>

    <app-list-menu></app-list-menu>

    <ion-row>
      <ion-col size="12">
        <ion-calendar
          [(ngModel)]="dateMulti"
          [options]="optionsMulti"
          [type]="type"
          [format]="'YYYY-MM-DD'">
        </ion-calendar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-tabmenus></app-tabmenus>