
ion-content{

    & ion-grid{

        &.slider{

            & ion-slides{
                max-height: 30vmax;

                & .swiper-wrapper{

                    & .swiper-pagination{
                        
                        
                        & .swiper-pagination-bullets{
                        
                            border-top: 1px solid var(--CR001) !important;
                            border-bottom: 1px solid var(--CR001);
                            & .swiper-pagination-bullet{
                                
                                background: var(--CR001);
                                opacity: 1;
                            }
                       }
                    }
                    
                }

                & ion-row{

                    & ion-col{

                        & .box{

                            & img{
                                
                                object-fit: cover !important;
                                height: 25vmax !important;
                                margin: auto;
                                width: 100%;
                                border: 1px solid var(--CR005);
                                border-radius: 2px;
                            }

                            & .content-text{
                                transform: translateY(-5vmax) !important;
                                border-radius: 2px;
                                border: 1px solid var(--CR002);
                                display: block;
                                color: var(--CR008);
                                // z-index: 1000;
                                text-align: center;
                                margin: 0px 10px;
                                opacity: 0.85;
                                background: var(--CR004);
                            }
                        }
                    }
                }
            }
        }

        &.search{

            & ion-searchbar{
                width: 90%;
                margin-top: 1vmax;
                margin-bottom: 1vmax;
                border: 5px;
                border-color:blue;
            }
        }

        & .schedules{
            padding:0px 1vh;

            & div{
                &:nth-child(1) {
                    margin-right: 5px;
                }    
                &:nth-child(2) {
                    margin-left: 5px;
                }  
                height: 4.25em;
            }

            & .event-time{
                background: var(--CR005);
                width: 40%;
                margin-right: 5px;
                text-align: center;
                line-height: 1.5;
                padding: 0px 1em;
            }
            & .event-desc{
                width: 55%;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: auto;
                display: -webkit-box;
                margin: 0 auto;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                background: var(--CR006);
                line-height: 1.5;
                padding: 0px 1em;
            }
            
        }

        & .menu-icon{
            border-top: 1px solid var(--CR004);
            border-bottom: 1px solid var(--CR004);
            margin: 1em 0px;
            padding: 0px;
        }
    }
}
