<ion-header>
  <ion-toolbar>
    <ion-title>
      eGOV BIG
      <ion-icon name="mail"></ion-icon>
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="slider" no-padding no-margin>
    <ion-slides 
      [options]="slideOpts" 
      class="content" 
      loop="true" 
      speed="500" 
      pager="true" 
      autoplay="5000"
      #mySlider 
      (ionSlidesDidLoad)="ionSlidesDidLoad()">
      <ion-slide *ngFor="let img of contentList" >
        <ion-row>
          <ion-col size="12">
            <div class="box">
              <img [src]="img?.file" alt="">
              <p class="content-text backgroundku">{{img.title}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="3" class="eventTime">
        <ion-row class="border-bottom">
          SENIN, 17 APR 2019
        </ion-row>
        <ion-row>
          07.25 - (N/A)
        </ion-row>
      </ion-col>
      <ion-col size="7" class="event-today">
        <ion-row>
          JADWAL HARI INI
        </ion-row>
        <ion-row class="eventText">
          Rapat Pengembangan Aplikasi Kependudukan
        </ion-row>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="3" *ngFor="let items of item1">
            <ion-row justify-content-center>
              <ion-col size="12">
                <ion-row justify-content-center>
                  <ion-avatar>
                    <img [src]="items?.img">
                  </ion-avatar>    
                </ion-row>
                <ion-row justify-content-center>
                  <ion-label>{{items?.label}}</ion-label>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" *ngFor="let items of item2">
            <ion-row justify-content-center>
              <ion-col size="12">
                <ion-row justify-content-center>
                  <ion-avatar>
                    <img [src]="items?.img">
                  </ion-avatar>    
                </ion-row>
                <ion-row justify-content-center>
                  <ion-label>{{items?.label}}</ion-label>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-tabs color="head" class="footer-nav hide-desktop">
  <ion-tab-bar slot="bottom"  color="head" class="footer-nav--container hide-desktop">
      <ion-tab-button tab="list" class="hide-desktop">
            <img src="assets/img/avatar.png" alt="Ionic logo" class="hide-desktop">
      </ion-tab-button>
      <ion-tab-button tab="dashboard" class="hide-desktop">
          <img src="assets/img/avatar.png" alt="Ionic logo" class="hide-desktop">
      </ion-tab-button>
      <ion-tab-button tab="home" class="hide-desktop">
          <img src="assets/img/avatar.png" alt="Ionic logo" class="hide-desktop">
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>