<ion-grid class="slider" no-padding no-margin>
  <ion-slides
    [options]="slideOpts" 
    class="content" 
    loop="true" 
    speed="500" 
    pager="true" 
    autoplay="5000"
    #mySlider 
    (ionSlidesDidLoad)="ionSlidesDidLoad()">
    <ion-slide *ngFor="let img of contentList" (click)="openBerita(img.id)">
      <div class="box">
        <img [src]="img?.file" alt="">     
      </div>
      <div class="content-text">
        {{img.title}}
      </div>
    </ion-slide>
  </ion-slides>
</ion-grid>