/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@mixin font-size($sizeValue) {

    @media  only screen and (min-width: 360px){
        font-size: calc(#{$sizeValue+px} - 0.20vw) !important;
    }

    @media  only screen and (min-width: 375px){
        font-size: calc(#{$sizeValue+px}) !important;
    }

    @media  only screen and (min-width: 414px){
        font-size: calc(#{$sizeValue+px} + 0.20vw) !important;
    }
    @media  only screen and (min-width: 504px){
        font-size: calc(#{$sizeValue+px} + 0.30vw) !important;
    }
}

// .hide-mobile {
//     // background: silver;
// }
ion-app{
    color:var(--CR005);
    & ion-tabs{
        contain: unset !important;
        & ion-tab-bar.footer-nav--container {
            height: 50px;
    
            & img{
                height: 30px;
            }
        }
    }
   
}

@media (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
}
@media (min-width: 601px) {
    .hide-desktop {
        display: none;
    }
}

app-dashboard.ion-page{
    padding:0px;
    margin:0px;

}

ion-title{
    color: var(--CR001);
    padding: 0 0.3em  !important;
    margin: 0px !important;
}
app-login.ion-page {
    background-color: var(--CR001);
}

.sparator{

    height: 1px;
    display: block;
    margin: 5px 0px;
    
    &.black{

        background: var(--CR008);

        &.half{
            margin: auto;
            width: 50% !important;
        }
    }

    &.blue{
        background: var(--CR001);
    }
}

ion-footer{

    & div {
        background: var(--CR001);
        display: grid;
        position: inherit;
        float: left;
        width: 20%;
        text-align: center;
        margin: auto;

        & img {
            margin: auto;
            width: 42px;
            padding: 8px;
        }
    }
}

ion-content {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }
    & .inner-scroll.scroll-y.overscroll {
      display: none !important;
      --overflow: hidden;
    }
}

app-list-menu{
    .menu-icon{
            
        border-top: 1px solid var(--CR004);
        border-bottom: 1px solid var(--CR004);
        margin: 1em 0px;
        padding: 0px;
        text-align: center;

        & ion-col{
            margin-bottom: 0px !important;
            padding-bottom: 0px !important;

            & span{
                &.avatar{
                    width: 80%!important;
                    display: block;
                    margin: auto;

                    & ion-avatar{
                        width: 3em;
                        height: 3em;
                        padding: 3px;
                        margin: auto;
                        background-color: var(--CR005);
                    }
                }
                

                &.desc{
                    margin: 5px 0px;
                    display: block;
                }
            }

        }
    

    }
}

app-slider{
    & .slider{

        & ion-slides{
            max-height: 30vmax;

            & .swiper-wrapper{

                & .swiper-pagination{
                    
                    
                    & .swiper-pagination-bullets{
                    
                        border-top: 1px solid var(--CR001) !important;
                        border-bottom: 1px solid var(--CR001);
                        & .swiper-pagination-bullet{
                            
                            background: var(--CR001);
                            opacity: 1;
                        }
                    }
                }
                
            }

            & ion-row{

                & ion-col{

                    & .box{

                        & img{
                            
                            object-fit: cover !important;
                            height: 25vmax !important;
                            margin: auto;
                            width: 100%;
                            border: 1px solid var(--CR005);
                            border-radius: 2px;
                        }

                        & .content-text{
                            transform: translateY(-5vmax) !important;
                            border-radius: 2px;
                            border: 1px solid var(--CR002);
                            display: block;
                            color: var(--CR008);
                            // z-index: 1000;
                            text-align: center;
                            margin: 0px 10px;
                            opacity: 0.85;
                            background: var(--CR004);
                        }
                    }
                }
            }
        }
    }
}
