/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@mixin font-size($sizeValue) {

    @media  only screen and (min-width: 360px){
        font-size: calc(#{$sizeValue+px} - 0.20vw) !important;
    }

    @media  only screen and (min-width: 375px){
        font-size: calc(#{$sizeValue+px}) !important;
    }

    @media  only screen and (min-width: 414px){
        font-size: calc(#{$sizeValue+px} + 0.20vw) !important;
    }
    @media  only screen and (min-width: 504px){
        font-size: calc(#{$sizeValue+px} + 0.30vw) !important;
    }
}

// .hide-mobile {
//     // background: silver;
// }
ion-app{
    color:var(--CR005);
    & ion-tabs{
        contain: unset !important;
        & ion-tab-bar.footer-nav--container {
            height: 50px;
    
            & img{
                height: 30px;
            }
        }
    }
   
}

@media (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
}
@media (min-width: 601px) {
    .hide-desktop {
        display: none;
    }
}

app-dashboard.ion-page{
    padding:0px;
    margin:0px;

}

ion-title{
    color: var(--CR001);
    padding: 0px !important;
    padding: 0.5em !important;
    margin: 0px !important;
}
app-login.ion-page {
    background-color: var(--CR001);
}
app-home.ion-page{

    & .login-logo{

        & img {
            width: 50px;
            margin: 0px 2vmax;
        }      
    }

    & .active {
        --ion-text-color: var(--CR004);  
        --color: var(--CR004) !important;

    
        ion-icon {
            --ion-text-color-rgb:  var(--CR004);
        }

        & ion-label{
            
            --ion-text-color: var(--CR004);  
            --color: var(--CR004) !important;
        }
    }
    .parent-active {
        font-weight: 500;
    }
    

}

.sparator{

    height: 1px;
    display: block;
    margin: 5px 0px;
    
    &.black{

        background: var(--CR008);
    }

    &.blue{
        background: var(--CR001);
    }
}

ion-footer{
    background-color: red;
    & img{
        width: 50px;
    }
}